<!-- ###################### HEADER #################################### -->
<!-- Toolbars or Navbars -->
<div ng-include="'components/navbar/navbar.html'"></div>   

<!-- ################## BODY ######################################## -->
<div class="container" id="canteenview">
  	<div class="col-md-12">
		<h1> Template</h1>
		<!-- ################################## Insert customdirective here ########################## -->
				<cards></cards>
				<profile></profile>
				<!-- <comments></comments> -->
				<invoice></invoice>
				<poll></poll>
				<status></status>
				<timeline></timeline>
				<ui></ui>
		<!-- ################################## Insert customdirective here ########################## -->  
	  </div>
 </div>
<!-- ################## BODY ######################################## -->
 
<!-- ################## FOOTER ######################################## -->
<footer class="footer">
  <div class="container">
      <p>angular-fullstack-base |
        <a href="https://twitter.com/merumman">@merumman</a> |
         <a href="https://github.com/knofler/angular-fullstack-base/issues">Issues</a></p>
  </div>
 </footer>
<!-- ################## END OF FOOTER ################################# -->