<div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">×</button>
          <h3 class="modal-title custom_align headerMargin" id="Heading">Add To Group  
              <a ng-click="selected.device = device">
              <input class="editInput" id="groupName"  type="text" />
              </a>
          </h3>
          <h5 class="modal-title custom_align headerMargin" id="Heading">
          Group : <a ng-click="selected.device = device">
          <input class="editInput" id="Heading" ng-model="accessformData.group" type="text" />
          </a></h5>
</div>
<div class="modal-body">
  <form class="app-form" name="accessForm">
              <div class="form-group newmodalForm-group">
               <div class="input-group col-sm-11">
                <span class="input-group-addon">Group</span>
                <span class="required" ng-show="accessForm.group.$error.required">*</span>
                  <select ui-select2="select2Options" id="e8" class="mq_selec2_select" name="group" ng-model="accessformData.group" type="text" required>
                    <option ng-repeat="group in groupRepo track by $index | filter:accessformData.group">{{group.name}}</option>
                   </select> 
               </div>  
               </div>
               <div class="form-group newmodalForm-group">   
                 <div class="input-group col-sm-11"> 
                  <span class="input-group-addon">Permission</span>
                  <span class="required" ng-show="accessForm.permission.$error.required">*</span>
                   <select ui-select2="select2Options" id="e8" class="mq_selec2_select" name="permission" 
                   ng-model="accessformData.permission" type="text" required>
                      <option ng-repeat="access in acl track by $index | filter:resourceformData.access">{{access}}</option>
                      </select> 
                  </div>
                 </div>
              <div class="form-group newmodalForm-group">  
                <button type="submit" ng-click="addToGroup()" ng-disabled="accessForm.$error.required" class="btn btn-success btn-sm" style="width: 25%;">
                  <span class="glyphicon glyphicon-ok-sign"></span> Assign Rights
                 </button>
                 </form>
  </form>  
</div>

<div class="modal-footer">

</div>
