<div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">×</button>
          <h3 class="modal-title custom_align headerMargin" id="Heading">Category Name : 
              <a ng-click="selected.device = device">
              <input class="editInput" id="groupName" ng-model="formData.catName" type="text" />
              </a>
          </h3>
          <h5 class="modal-title custom_align headerMargin" id="Heading">
          Option : <a ng-click="selected.device = device">
          <input class="editInput" id="Heading" ng-model="formData.catOption" type="text" />
          </a></h5>
</div>
<div class="modal-body">
 <form class="app-form" name="optionForm">
              <div class="form-group newmodalForm-group">
                <div class="input-group col-md-11">
                  <span class="input-group-addon">Add New options</span>
                  <span class="required" ng-show="optionForm.optionName.$error.required">*</span>
                    <select ui-select2="select2Options" id="e8" class="mq_selec2_select" name="optionName" ng-model="formData.catName" type="text" required>
                      <option ng-repeat="option in categoryArr track by $index | filter:formData.option">{{option}}</option>
                     </select> 
                 </div>  
                 </div>
                  <div class="form-group newmodalForm-group">   
                  <div class="input-group col-md-11"> 
                    <span class="input-group-addon">Option Item</span>
                    <span class="required" ng-show="optionForm.optionItem.$error.required">*</span>
                        <input class="form-control" id="optionItem" name="optionItem" ng-model="formData.catOption" type="text" placeholder="Provide Option name" required>
                      </div>
                 </div>
                <div class="form-group newmodalForm-group">  
                  <button type="submit" ng-click="addCategory()" ng-disabled="optionForm.$error.required" class="btn btn-warning btn-sm" style="width: 25%;">
                    <span class="glyphicon glyphicon-ok-sign"></span> Add Options
                   </button>
                </form>
  </form>  
</div>

<div class="modal-footer">

</div>
