<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src={{orders.img}} style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{orders.name}}</a></h4>
                                <h5 class="media-heading"> by <a href="#">{{orders.produced_by}}</a></h5>
                                <span>Status: </span><span class="text-success"><strong>{{orders.available}}</strong></span>
                            </div>
                        </div></td>
                    <td class="col-sm-1 col-md-1" style="text-align: center"><strong>{{orders.quantity}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{orders.cost | currency}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{orders.cost * orders.quantity | currency}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" ng-click="removeCartItem(orders._id,orders.cost * orders.quantity)">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>{{orders.subTotal | currency}}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>{{orders.shipping | currency}}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>{{orders.totalCost | currency}}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> 
                            <a class="cartLinks" href="{{source.cart}}">Cart</a>
                        </button></td>
                        <td>
                        <!-- this is to launch checkout modal for stripe custome checkout -->
						<div class="row">
						<button type="button" class="btn btn-success" ng-click="checkoutModal()">
						  <a class="cartLinks">Checkout</a>
						  <span class="glyphicon glyphicon-play"></span>
						</button>
						</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
<!-- ################### MODAL DIALOG ########################## --> 
 <modals show='modalShown' width="300px">
    <stripe-custom source='source' modalctrl="close_directive_modal()"></stripe-custom>
 </modals>
<!-- ################### MODAL DIALOG ########################## --> 