#localVideo{
	float: left;
	clear: right;
	display: inline-block;
	min-width: 400px;
	margin-top: 10px;
	margin-left: -50px;
	width:50%;
	margin-bottom: 10px;
}

#remotesVideos{
	margin-top: 14px;
	display: inline-block;
	min-width: 400px;
	width:50%;
	margin-bottom: 10px;
}
